# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Publish

on:
  release:
    types: [ created ]
  push:
    tags:
      - 'v*'
      - 'latest'

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Build and publish with original version
        run: |
          mvn clean package --file pom.xml
          mvn deploy -s $GITHUB_WORKSPACE/settings.xml -DskipTests
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/tags/latest'
        uses: softprops/action-gh-release@v2
        with:
          files: |
            target/*.jar
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Set version to latest and publish
        run: |
          mvn versions:set -DnewVersion=latest
          mvn clean package --file pom.xml
          mvn deploy -s $GITHUB_WORKSPACE/settings.xml -DskipTests
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Create Latest Release
        if: startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/tags/latest'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Latest Release
          files: |
            target/*.jar
        env:
          GITHUB_TOKEN: ${{ github.token }}

