# This workflow will build a package using Maven and publish it to GitHub Packages
# when a release is created

name: Maven Publish

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
          server-id: github
          settings-path: ${{ github.workspace }}

      - name: Build and publish with original version
        run: |
          mvn clean package --file pom.xml
          mvn deploy -s $GITHUB_WORKSPACE/settings.xml -DskipTests
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: 2. Create Release for Versioned Tag
        # 只在推送了 v* 标签或创建 release 时执行
        if: startsWith(github.ref, 'refs/tags/v') || github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: target/*.jar
        env:
          GITHUB_TOKEN: ${{ github.token }}


#      - name: Set version to latest and publish
#        run: |
#          mvn versions:set -DnewVersion=latest
#          mvn clean package --file pom.xml
#          mvn deploy -s $GITHUB_WORKSPACE/settings.xml -DskipTests
#        env:
#          GITHUB_TOKEN: ${{ github.token }}
